@model IEnumerable<mi.Models.ViewModel.BasketItem>
@{
    Layout = null;
}
@Html.Partial("~/Views/_Shared/_header.cshtml");
<div class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="@Url.Action("/")">Anasayfa</a></span> <span>Sepet</span></p>
                <h1 class="mb-0 bread">Sepet Ürünleri</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>Ürünler</th>
                                <th>Fiyat</th>
                                <th>Adet</th>
                                <th>Toplam</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Any())
                            {
                                foreach (var item in Model)
                                {
                                    if (item != null)
                                    {
                                        <tr class="text-center">
                                            <td class="product-remove"><a href="javascript:void(0);" id="deleteBasketItem" item="@item.Id" productId="@item.product.productId"><span class="ion-ios-close"></span></a></td>

                                            <td class="image-prod"><div class="img" style="background-image:url(@Url.Action("Thumbnail", "Shop", new { width = 290, height = 385, Id = item.product.productId, _imageId = item.product.tbl_productImage.FirstOrDefault().imageId }));"></div></td>

                                            <td class="product-name">
                                                <h3>@item.product.productName</h3>
                                                <p>@Html.Raw(item.product.description)</p>
                                            </td>

                                            <td class="price">₺@item.product.price</td>

                                            <td class="quantity">
                                                <div class="input-group mb-3">
                                                    <input type="text" name="quantity" class="quantity form-control input-number" value="@item.quantity" min="1" max="100">
                                                </div>
                                            </td>

                                            <td class="total">₺@(item.quantity * item.product.price)</td>
                                        </tr><!-- END TR-->
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3>Toplam</h3>
                    <p class="d-flex">
                        <span>Tutar</span>
                        <span>₺@Model.Sum(x => x.product.price * x.quantity)</span>
                    </p>
                    <p class="d-flex">
                        <span>Teslimat</span>
                        <span>$0.00</span>
                    </p>
                    <p class="d-flex">
                        <span>İndirim(%30)</span>
                        <span>
                            @{decimal indirim = (decimal)Model.Sum(x => x.product.price * x.quantity) * 0.3m;

                            }
                            ₺@indirim
                        </span>
                    </p>
                    <hr>
                    <p class="d-flex total-price">
                        <span>Toplam Tutar</span>
                        <span>₺@(Model.Sum(x => x.product.price * x.quantity) - indirim)</span>
                    </p>
                </div>
                <p class="text-center"><a href="@Url.Action("Checkout","Shop")" class="btn btn-primary py-3 px-4">Ödemeye Geç</a></p>
            </div>
        </div>
    </div>
</section>
@Html.Partial("~/Views/_Shared/_footer.cshtml");

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(function () {
        //delete basketItem
        $("#deleteBasketItem").click(function () {
            var itemId = $(this).attr("item");
            var productId = $(this).attr("productId");
            $.ajax({
                    type:'POST',
                    url: '@Url.Action("Remove","Shop")',
                    data: { productId: productId },
                success: function (response) {
                    $("tr#" + itemId).fadeOut(1000);
                    //sayfayı yenile
                    location.reload();
                }



            });

        });

    });
</script>