@using mi.Models.ViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Winkel - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="~/Asset/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Asset/css/animate.css">

    <link rel="stylesheet" href="~/Asset/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Asset/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Asset/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Asset/css/aos.css">
    <link rel="stylesheet" href="~/Asset/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Asset/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Asset/css/jquery.timepicker.css">

    <link rel="stylesheet" href="~/Asset/css/flaticon.css">
    <link rel="stylesheet" href="~/Asset/css/icomoon.css">
    <link rel="stylesheet" href="~/Asset/css/style.css">
</head>
<body class="goto-here">
    <div class="py-1 bg-black">
        <div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
                <div class="col-lg-12 d-block">
                    <div class="row d-flex">
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                            <span class="text">+ 1235 2355 98</span>
                        </div>
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                            <span class="text">moricon@email.com</span>
                        </div>
                        <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                            <span class="text">3 ile 5 gün arasında teslim edilir  &amp; İade garantisi </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">MORİCON</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="@Url.Action("/", "Shop")" class="nav-link">Anasayfa</a></li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="@Url.Action("Products", "Shop")">Ürünler</a>
                            <a class="dropdown-item" href="@Url.Action("Basket","Shop")">Sepet</a>
                            <a class="dropdown-item" href="checkout.html">Ödeme</a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="contact.html" class="nav-link">İletişim</a></li>
                    <li class="nav-item"><a href="@Url.Action("Register","User")" class="nav-link">Kaydol</a></li>
                    <li class="nav-item cta cta-colored">
                        @if (Session["Card"] == null)
                        {
                            <a href="@Url.Action("Basket", "Shop")" class="nav-link">

                                <span class="icon-shopping_cart"></span>[0]
                            </a>
                        }
                        else
                        {
                            List<BasketItem> sepet = (List<BasketItem>)Session["Card"];
                            <a href="@Url.Action("Basket", "Shop")" class="nav-link">

                                <span class="icon-shopping_cart"></span> @sepet.Sum(x => x.quantity)
                            </a>
                        }

                    </li>
                </ul>
            </div>
        </div>
    </nav>
